<ion-header>
    <ion-toolbar color="mycolor">
        <ion-buttons slot="start">
            <ion-back-button text="" (click)="back('/tabs/tab4')"></ion-back-button>
        </ion-buttons>
        <ion-title>{{title}}帐号</ion-title>
        <ion-button slot="end" color="mycolor" (click)="gotoGetMoney()" class="huiBtn">提现</ion-button>
    </ion-toolbar>
</ion-header>
<ion-content color="favorite">
    <div>
        <img src="../../assets/nosomething.png" class="nothing">
        <div class="notext">矮油，这里还没有东西哦</div>
    </div>
</ion-content>
