<ion-header>
    <ion-toolbar color="mycolor">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>身份认证信息</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="favorite">
    <div class="list-box mar-top1">
        <div class="list bor-bottom1">
            <div class="title">姓名:</div>
            <div class="text">里斯</div>
        </div>
    </div>
    <div class="list-box">
        <div class="list bor-bottom1">
            <div class="title">身份证号:</div>
            <div class="text">320922199209090909</div>
        </div>
    </div>
    <div class="list-box">
        <div class="list bor-bottom1">
            <div class="title">审核状态</div>
            <div class="text main-col">审核未通过</div>
        </div>
    </div>
    <div class="list-box">
        <div class="list">
            <div class="title">驳回原因</div>
            <div class="text">电话未接听</div>
        </div>
    </div>
    <div class="img-boxs">
        <div class="img-box">
            <div>
                <img src="../../assets/timg.png">
                <span>正面照片</span>
            </div>
            <div>
                <img src="../../assets/timgback.png">
                <span>背面照片</span>
            </div>
            <div>
                <img src="../../assets/timg(1).png">
                <span>手持照片</span>
            </div>
        </div>
    </div>
    <div class="save">重新提交</div>
</ion-content>
