<ion-content color="favorite">
    <div class="top-box">
        <img src="../../assets/title.png">
        <div class="pin center">莫羡他人高薪，且看闲时谁在拼</div>
    </div>
    <div class="gonggao-box">
        <img src="../../assets/gonggao.png">
        <div class="message-box">
            <div class="message">
                <div>2018香港公司年审需要知道哪些？</div>
                <div>2018香港公司年审需要知道哪些？</div>
                <div>2018香港公司年审需要知道哪些？</div>
                <div>2018香港公司年审需要知道哪些？</div>
            </div>
        </div>
    </div>
    <div class="sub-list">
        <div *ngFor="let item of subList;let index=index" (click)="chooseOne(index)">
            <span class="{{item.isAcv?'acv':''}}">{{item.text}}</span>
        </div>
    </div>
    <div class="task-list-box" *ngFor="let item of taskList">
        <div class="task-list" (click)="gotoTaskDteailsPage(item.tasknum)">
            <div class="taskid">
                <div class="taskNum">ID:{{item.tasknum}}</div>
                <div>{{item.benjin}}元</div>
            </div>
            <div class="taskPrice">
                <img src="../../assets/jifen.png">
                <div class="taskPriceNum">￥{{item.yongjin}}</div>
                <div class="now">马上抢</div>
            </div>
        </div>
        <div class="pop" *ngIf="item.isStart!=='1'"></div>
        <div class="text-box" *ngIf="item.isStart!=='1'">
            <div class="nostart">暂未开始</div>
            <div class="clockBox">
                {{item.begin_time}}左右
                <img src="../../assets/clock.png">
            </div>
        </div>
    </div>
</ion-content>
