<ion-content [color]="bgColor">
    <div class="top-box">
        <img src="../../assets/title.png">
        <div class="pin center">莫羡他人高薪，且看闲时谁在拼</div>
    </div>
    <div class="gonggao-box">
        <img src="../../assets/gonggao.png">
        <div class="message-box">
            <div class="message">
                <div>2018香港公司年审需要知道哪些？</div>
                <div>2018香港公司年审需要知道哪些？</div>
                <div>2018香港公司年审需要知道哪些？</div>
                <div>2018香港公司年审需要知道哪些？</div>
            </div>
        </div>
    </div>
    <div class="sub-list">
        <div>
            <span class="acv">垫付任务</span>
        </div>
        <div>
            <span>浏览任务</span>
        </div>
        <div>
            <span>推广赚钱</span>
        </div>
    </div>
    <div class="task-list-box">
        <div class="task-list">
            <div>
                <div>ID:D194641687485</div>
                <div>49元</div>
            </div>
            <div>
                <img src="">
                <div>￥3</div>
                <div class="">马上抢</div>
            </div>
        </div>
    </div>
</ion-content>
