@import url(~@ionic/angular/css/core.css);
@import url(~@ionic/angular/css/normalize.css);
@import url(~@ionic/angular/css/structure.css);
@import url(~@ionic/angular/css/typography.css);
@import url(~@ionic/angular/css/padding.css);
@import url(~@ionic/angular/css/float-elements.css);
@import url(~@ionic/angular/css/text-alignment.css);
@import url(~@ionic/angular/css/text-transformation.css);
@import url(~@ionic/angular/css/flex-utils.css);
* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei"; }

i {
  font-style: normal; }

li, ul, ol {
  list-style: none; }

img {
  display: block; }

input, textarea, select {
  border: 0;
  outline: none;
  resize: none; }

.title-md {
  text-align: center; }

.header-md:after {
  background-image: none;
  height: 1px;
  background-color: transparent;
  bottom: 0; }

.center {
  text-align: center; }

.gray {
  width: 100%;
  height: 1rem;
  background-color: #f7f7f7; }

.sc-ion-buttons-md-s {
  position: absolute; }

.textLong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.mar-top1 {
  margin-top: 1rem; }

.pad-bottom1 {
  padding-bottom: 1rem; }

.bor-bottom1 {
  border-bottom: 1px solid #e6e6e6; }

.bor-top1 {
  border-top: 1px solid #e6e6e6; }

.font-bold {
  font-weight: bold; }

.main-col {
  color: #fe5a51; }

.have {
  color: #0ec254; }

.main-bg {
  background-color: #fe5a51; }

.bg-white {
  background-color: white; }

.save, .saves {
  width: 94%;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  color: white;
  background-color: #fe5a51;
  border-radius: 2.2rem;
  height: 4.4rem;
  line-height: 4.4rem;
  font-size: 1.8rem;
  box-shadow: 0rem 0rem 3rem #f7bdba; }

.saves {
  background-color: #fe736b; }

.list-box {
  background-color: white;
  width: 100%;
  height: 4rem;
  line-height: 4rem; }
  .list-box .list {
    width: 94%;
    margin: 0 auto;
    display: flex;
    line-height: 3.95rem; }
    .list-box .list .title {
      font-size: 1.3rem;
      color: #333; }
    .list-box .list .text {
      flex-grow: 1;
      text-align: right;
      font-size: 1.1rem;
      color: #999; }
    .list-box .list span {
      display: block;
      width: 1rem;
      height: 1rem;
      border-top: 2px solid #898989;
      border-right: 2px solid #898989;
      margin-top: 1.5rem;
      margin-right: 0.5rem;
      transform: rotate(45deg); }

.list-box .list .title {
  width: 23%; }
.list-box .list .textss {
  text-align: left; }
.list-box .lists {
  width: 91%;
  margin: 0 3% 0 6%;
  display: flex;
  height: 3.97rem;
  position: relative; }
  .list-box .lists .tetiles {
    font-size: 1.2rem;
    color: #333;
    width: 25%; }
  .list-box .lists .sex {
    display: flex;
    justify-content: center;
    width: 9.4rem; }
    .list-box .lists .sex img {
      width: 1.25rem;
      height: 1.25rem;
      flex-shrink: 0;
      margin-right: 1rem;
      margin-top: 1.5rem; }
  .list-box .lists .rev {
    position: absolute;
    top: 0.7rem;
    right: 0; }

.tishi {
  width: 94%;
  margin: 1rem auto 0 auto;
  color: #999999;
  font-size: 1rem; }

.pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 11; }

.pop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .5;
  width: 100%;
  height: 100%;
  z-index: 1; }

.huiBtn {
  position: absolute;
  top: 10px;
  right: 3%; }

.has-refresher > .scroll-content {
  background-color: transparent !important; }

.ion-color-mycolor {
  --ion-color-base: #fe5a51;
  --ion-color-base-rgb: 254, 90, 81;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #e0540b;
  --ion-color-tint: #ff7025; }

.ion-color-favorite {
  --ion-color-base: #f7f7f7;
  --ion-color-base-rgb: 247, 247, 247;
  --ion-color-contrast: #262626;
  --ion-color-contrast-rgb: 38, 38, 38;
  --ion-color-shade: #5ca56c;
  --ion-color-tint: #78c288; }

/*# sourceMappingURL=global.css.map */
