<ion-header>
    <ion-toolbar color="mycolor">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>提现记录</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="favorite">
    <div class="bg-white mar-top1" *ngIf="false">
        <div class="get-list bor-bottom1">
            <img src="../../assets/getmoney.png">
            <div class="list-box">
                <div>余额提现到微信钱包</div>
                <p>2019-01-11 13:41</p>
            </div>
            <div class="money"><span>￥</span>100.00</div>
        </div>
        <div class="get-list bor-bottom1">
            <img src="../../assets/getmoney.png">
            <div class="list-box">
                <div>余额提现到微信钱包</div>
                <p>2019-01-11 13:41</p>
            </div>
            <div class="money"><span>￥</span>100.00</div>
        </div>
    </div>
    <div>
        <img src="../../assets/nosomething.png" class="nothing">
        <div class="notext">矮油，这里还没有东西哦</div>
    </div>
</ion-content>
