@import "../commission/commission.page";

.get-list {
	display: flex;
	width: 94%;
	margin: 0 auto;
	height: 5.5rem;
	img {
		width: 2.1rem;
		height: 2.5rem;
		margin-top: 1.5rem;
		margin-right: 1.5rem;
	}
	.list-box {
		line-height: 2rem;
		div {
			margin-top: 0.7rem;
			font-size: 1.3rem;
		}
		p {
			color: #999;
			font-size: 1.2rem;
		}
	}
	.money {
		line-height: 5.5rem;
		color: #fe5a51;
		font-size: 1.8rem;
		span {
			font-size: 1rem;
		}
	}
}