<ion-header>
    <ion-toolbar color="mycolor">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>重置密码</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="favorite">
    <div class="input-box mar-top1">
        <div class="input bor-bottom1">
            <div>手机号码</div>
            <input type="text" placeholder="请输入手机号码" [(ngModel)]="dataObj.tel">
        </div>
    </div>
    <div class="input-box">
        <div class="input bor-bottom1">
            <div>图片验证</div>
            <input type="text" placeholder="请输入图片验证码" [(ngModel)]="dataObj.picCode">
            <img src="{{codeImg}}">
        </div>
    </div>
    <div class="input-box">
        <div class="input">
            <div>短信验证</div>
            <input type="text" placeholder="请输入短信验证码" [(ngModel)]="dataObj.smsCode">
            <span (click)="getCode()">{{text}}</span>
        </div>
    </div>
    <div class="input-box mar-top1">
        <div class="input bor-bottom1">
            <div>密码</div>
            <input type="text" placeholder="请输入6-16位密码" [(ngModel)]="dataObj.pass">
        </div>
    </div>
    <div class="input-box">
        <div class="input">
            <div>确认密码</div>
            <input type="text" placeholder="请再次输入密码" [(ngModel)]="apass">
        </div>
    </div>
    <div class="save" (click)="forget()">提交</div>
</ion-content>
