.tishi {
	height: 4rem;
	line-height: 4rem;
	color: #999;
	font-size: 1.2rem;
	padding-left: 3%;
}

.put-box {
	background-color: white;
	.put {
		height: 4rem;
		line-height: 4rem;
		width: 94%;
		margin: 0 auto;
		display: flex;
		.text {
			width: 20%;
			font-size: 1.3rem;
		}
		input[type="text"] {
			width: 70%;
		}
	}
}

.img-box {
	background-color: white;
	.img-title {
		width: 94%;
		margin: 0 auto;
		display: flex;
		height: 4rem;
		line-height: 4rem;
		div {
			width: 50%;
		}
		div:first-child {
			font-size: 1.3rem;
		}
		div:nth-child(2) {
			font-size: 1rem;
			color: #7d7d7d;
			text-align: right;
		}
	}
	.imgs {
		background-color: white;
		padding: 1rem 0 1.5rem 0;
		width: 94%;
		margin: 0 auto;
		display: flex;
		.images {
			width: 30%;
			.image {
				border: 1px dashed #e5e5e5;
				border-radius: 0.5rem;
				padding-top: 1rem;
				padding-bottom: 1rem;
				img {
					margin: 0 auto;
					width: 3.2rem;
					height: 3.2rem;
				}
				div {
					text-align: center;
					margin-top: 1.5rem;
					font-size: 1.2rem;
					color: #7d7d7d;
				}
			}
			.card {
				width: 100%;
				height: 100%;
			}
		}
		.images:nth-child(2) {
			margin: 0 5%;
		}
	}
}

.biaozhuan-box {
	background-color: white;
	.biaozhun-title {
		width: 94%;
		margin: 0 auto;
		height: 4rem;
		line-height: 4rem;
		font-size: 1.3rem;
	}
	.biaozhun {
		width: 94%;
		margin: 0 auto;
		display: flex;
		padding: 1rem 0;
		img {
			width: 10.5rem;
			height: 8rem;
			margin-right: 1rem;
		}
		div {
			font-size: 1rem;
			color: #7d7d7d;
		}
	}
}

.zige {
	height: 4rem;
	line-height: 4rem;
	color: #fe5a51;
	font-size: 1.2rem;
	padding-left: 3%;
}

.save {
	margin-top: 1rem;
	margin-bottom: 2rem;
}