<ion-header>
    <ion-toolbar color="mycolor">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>订单管理</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="favorite">
    <div class="sub-list">
        <div *ngFor="let item of subList;let index=index" (click)="chooseOne(index)">
            <span class="{{item.isAcv?'acv':''}}">{{item.text}}</span>
        </div>
    </div>
    <div class="shop-box" *ngFor="let order of orders"  (click)="gotoTaskDetailPage(order)">
        <div class="shop-list">
            <div class="shop-list-top">
                <img src="{{order.pic}}">
                <div class="shop-top-right">
                    <div class="shop-top-right-name-box">
                        <div class="shop-name textLong">{{order.name}}</div>
                        <div class="time">{{order.create_time}}</div>
                    </div>
                    <div class="shop-price"><span>￥{{order.yongjin}}</span>/垫资{{order.benjin}}元</div>
                    <div class="make-type">{{order.status}}</div>
                </div>
            </div>
            <div class="daojishi">
                倒计时
                <span>{{order.count}}</span>
                <img src="assets/barkColock.png">
            </div>
        </div>
    </div>
</ion-content>
