<ion-content color="favorite">
    <div class="top-box">
        <div class="top-box-bai">
            <div class="left">
                <div class="price">0</div>
                <div class="text">佣金收益（金）</div>
            </div>
            <div class="right">
                <div class="price">0</div>
                <div class="text">本金总计（金）</div>
            </div>
            <img src="../../assets/header.png">
        </div>
    </div>
    <div class="list-box mar-top65" (click)="gotoPage('/userinfo')">
        <div class="list">
            <img src="../../assets/account1.png">
            <div>帐号信息</div>
        </div>
    </div>
    <div class="list-box mar-top1" (click)="gotoPage('complaint-center')">
        <div class="list bor-bottom1">
            <img src="../../assets/account2.png" class="shengsu">
            <div>申诉中心</div>
        </div>
    </div>
    <div class="list-box" (click)="gotoPage('money-making')">
        <div class="list">
            <img src="../../assets/account3.png" class="tuiguang">
            <div>推广赚钱</div>
        </div>
    </div>
    <div class="list-box mar-top1">
        <div class="list bor-bottom1">
            <img src="../../assets/account4.png" class="kefu">
            <div>联系客服</div>
        </div>
    </div>
    <div class="list-box">
        <div class="list bor-bottom1">
            <img src="../../assets/account5.png" class="banben">
            <div>版本信息</div>
        </div>
    </div>
    <div class="list-box">
        <div class="list">
            <img src="../../assets/account6.png" class="huancun">
            <div>清除缓存</div>
        </div>
    </div>
</ion-content>
