<ion-header>
    <ion-toolbar color="mycolor">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>淘宝任务</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="favorite">
    <div class="task-list-box">
        <div class="task-list" (click)="gotoTaskDteailsPage()">
            <div class="taskid">
                <div class="taskNum">ID:{{tasknum}}</div>
                <div>{{benjin}}元</div>
            </div>
            <div class="taskPrice">
                <img src="../../assets/jifen.png">
                <div class="taskPriceNum">￥{{yongjin}}</div>
            </div>
        </div>
        <div class="pop" *ngIf="false"></div>
        <div class="text-box" *ngIf="false">
            <div class="nostart">暂未开始</div>
            <div class="clockBox">
                2019-01-04 11:20左右
                <img src="../../assets/clock.png">
            </div>
        </div>
    </div>
    <div class="task-yaoqiu">
        <div class="titles">任务要点</div>
        <div class="yaoqiu-list" *ngFor="let item of yaoqiu">
            <div class="key">{{item.title}}</div>
            <div class="value textLong">{{item.value}}</div>
        </div>
    </div>
    <div class="task-yaoqiu">
        <div class="titles">卖家要求</div>
        <div class="shopYaoqiu">{{yaodian}}</div>
    </div>
    <div class="nickName center" (click)="nextStep()">昵称（今日可接单{{lasttasknum}}）</div>
</ion-content>
