<ion-header>
    <ion-toolbar color="mycolor">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>操作说明</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="favorite">
    <div class="title-box mar-top1 bg-white">
        <div class="title">请认真阅读以下内容</div>
        <div class="text">1、请确认你使用“{{taobaoName}}”账户下单，严禁串号；</div>
        <div class="text">2、禁止使用淘宝客、信用卡、花呗、积分、集分宝类抵扣付款；</div>
        <div class="text">3、垫付任务不低于8分钟，否则视为违规；</div>
        <div class="text">4、提交要求返款金额务必与实际付款金额一致；</div>
        <div class="text">5、提交订单之后不可自行退款，如果需要请申诉平台处理；</div>
        <div class="text">6、在平台确认好评价类型，再去收货评价；</div>
        <div class="text">7、规定时间内完成任务，超时自动取消；</div>
        <div class="text">请用户严格遵守平台规定，按要求完成任务，平台将出管理细则，祝大家赚金愉快！</div>
    </div>
    <div class="start-do bg-white center mar-top1" (click)="gotoLookTaskPage()">开始操作</div>
</ion-content>
