<ion-header>
    <ion-toolbar color="mycolor">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>推广赚钱</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="favorite">
    <div class="list mar-top1">
        <div class="title">我的邀请人</div>
        <div class="text">656823</div>
    </div>
    <div class="list mar-top1">
        <div class="title">推广总数</div>
        <div class="text">
            <span>0</span>个
        </div>
    </div>
    <div class="list mar-top1">
        <div class="title">激活买手</div>
    </div>
    <div class="lists">
        <div class="sub-list">
            <img src="../../assets/order01.png">
            <div>已接单<span>0</span>人</div>
        </div>
        <div class="sub-list">
            <img src="../../assets/yes01.png">
            <div>已完成<span>0</span>人</div>
        </div>
    </div>
    <div class="list mar-top1">
        <div class="title">累计奖励</div>
        <div class="text">
            <span>0</span>元
        </div>
    </div>
    <img src="../../assets/banner.png" class="banner">
    <div class="jiali">
        <div class="jiali-text">邀请奖励</div>
        <div class="text">通过邀请码邀请你的朋友，你朋友来做任务，可以获得他们任务佣金的10%，获得他们邀请朋友的佣金为3%，比如说：你的伙伴每天做三单，每单佣金为3元，你将获得1元。累积邀请20-200人，每天可以分红20-200元，他们每人再累积邀请20-200人，你还可以获得400-40000买手的3分红，每天可以分红108-10800元，月累积可获得3840-330000元，年累积可获得46080-3960000元，可永久分红</div>
    </div>
    <div class="save">分享给朋友</div>
</ion-content>
